@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Poppins', serif;
}
.navbar{
    background-color: pink;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
} 
.item{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 19, 37, 0.08);
    border-radius: 8px;
    padding: 10px;
}
cart img{
    width: 90px;
    height: 90px;
}
.item>div{
    display: flex;
}
.item>div:nth-child(1){
    justify-content: space-between;
}
.item>div:nth-child(1)>div:nth-child(2){

}
.item>div:nth-child(3)>div:nth-child(1){
    display: flex;
    gap:10px;
}
.item>div:nth-child(3){
    justify-content: space-between;
}
.total>p:nth-child(1){
    text-align: center;
    font-size:20px;
    font-weight: bold;
}
.total>p:nth-child(2){
    text-align: center;
    font-size:12px;
}
.cart{
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.bt{
    width: 25%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content:  space-between;
}
button{ 
    font-size:40px;
    text-align: center;
    background-color: #E80071 !important;
    color: white;
}
.bt>div:nth-child(1)>p:nth-child(2){
    margin-top: -20px;
}
i:hover{
    cursor: pointer;
}
.promo{
    width:25%;
    margin: auto;
}
.emptycart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.emptycart>p:nth-child(2){
    font-size: xx-large;
    font-weight:600;
}
